# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Редакторы и ОС
.vscode/
.idea/
*.swp
*~
.DS_Store

# Папки с результатами, логами и моделями PyTorch
checkpoints_pytorch/
*.pth
*.pt

# Кэш Hugging Face / Datasets (если используются)
.cache/
*.arrow

# Скачанные и распакованные данные
downloaded_data/
extracted_data/
road_segmentation/ # <-- Игнорируем папку со скачанными данными

# Локальные артефакты
*.png 
